<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-auto" style="padding: 1em">
      <h3>Entrar</h3>
      <%= form_with scope: :user, url: sessions_path, local:true do |form|%>
        <div class="form-group">
          <%= form.label :email%>
          <%= form.text_field :email, class: "form-control", placeholder: "Digite seu e-mail"%>
        </div>
        <div class="form-group">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control", placeholder: "Digite sua senha"%> 
        </div>
        <%= form.submit "Login", class: 'btn btn-success w-100'%> 

        <% if current_user%>
          <%= link_to "Logout", :logout, method: :post %>
        <%end%>
        <%else%>
        <%= flash_message %>
      <% end %>
    </div>
  </div>
</div>