<%= render 'users/users-navbar' %>
<h3>Criar um novo comentário</h3>
<div class = "container w-50">
  <%= form_with model: @comment, local: true do |c| %>
      <div class="form-group">
        <%= c.label :comentario, "Comentário" %>
        <%= c.text_field :comentario, placeholder: "Digite o seu comentário", class: "form-control" %>
      </div>
      <div class="form-group">
      <%= c.label :user_id, "Usuário" %>
      <%= c.select :user_id, @user, class: "form-control"%>
      </div>
      <div class="form-group">
      <%= c.label :task_id, "Tarefa" %>
      <%= c.select :task_id, @task, class: "form-control"%>
      </div>
      <%= c.submit "Confirmar", class: "btn btn-success"%>
  <%end%>
</div>