<%= form_with scope: :task, url: increase_time_path(@task), local: true do |f| %>
    <% case @task.aumento_prazo.to_i %>
        <% when 0 %>
            <%= f.button "10%", name: "prazo", value: 10, class: "btn btn-warning" %>
            <%= f.button "20%", name: "prazo", value: 20, class: "btn btn-warning" %>
            <%= f.button "30%", name: "prazo", value: 30, class: "btn btn-warning" %>
        <% when 10 %>
            <%= f.button "10%", name: "prazo", value: 10, class: "btn btn-warning" %>
            <%= f.button "20%", name: "prazo", value: 20, class: "btn btn-warning" %>
        <% when 20 %>
            <%= f.button "10%", name: "prazo", value: 10, class: "btn btn-warning" %>
        <% else %>
            <h3 class="text-danger">Limite do aumento de prazo alcançado</h3>
        <% end %>
<% end %>