<div class="container w-25">
  <%= form_with model: @task, local: true do |f| %>
      <div class="form-group">
        <%= f.label :titulo, "Titulo:" %>
        <%= f.text_field :titulo, placeholder: "Digite o titulo", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :descricao, "Descrição:" %>
        <%= f.text_field :descricao, placeholder: "Digite a descrição", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :xp_base, "Pontuação:" %>
        <%= f.text_field :xp_base, placeholder: "Digite o xp recebido pela tarefa", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :moedas_base, "Moedas:" %>
        <%= f.text_field :moedas_base, placeholder: "Digite a quantidade de moedas recebida como recompensa", class: "form-control" %>
      </div>
        <div class="form-group">
        <%= f.label :prazo_base, "Prazo:" %>
        <%= f.datetime_select :prazo_base, class: "form-control" %>
      </div>
      
      <%= f.submit "Confirmar", class: "btn btn-success"%>
  <%end%>
</div>

<% @task.errors.full_messages.each do |error| %>
  <p style = "color:red"><%= error %></p>
<% end %>