<%= form_with scope: :task, url: increase_xp_path(@task), local: true do |f| %>
    <% case @task.aumento_xp.to_i %>
        <% when 0 %>
            <%= f.button "50%", name: "xp", value: 50, class: "btn btn-success" %>
            <%= f.button "100%", name: "xp", value: 100, class: "btn btn-success" %>
            <%= f.button "120%", name: "xp", value: 120, class: "btn btn-success" %>
        <% when 50 %>
            <%= f.button "50%", name: "xp", value: 50, class: "btn btn-success" %>
            <%= f.button "100%", name: "xp", value: 100, class: "btn btn-success" %>
        <% when 100 %>
            <%= f.button "50%", name: "xp", value: 50, class: "btn btn-success" %>
        <% else %>
            <h3 class="text-danger">Limite do aumento de XP alcançado</h3>
        <% end %>
<% end %>