<%= render 'users/users-navbar'%>
<div class="container">
    <h1>Participar da tarefa <%= @task.titulo %></h1>
    <div class="container w-25">
        <%= form_with model: @people_task, url: create_assign_path, local: true do |f| %>
            <div class="form-group">
                <%= f.label :tipo_usuario, "Participar como:"%>
                <% if current_user.member && current_user.member.lider == 'SIM' %>
                    <%= f.select(:tipo_usuario, options_for_select([['Usuário', 'user'], ['Grupo', 'group']]))%>
                <% else %>
                    <%= f.select(:tipo_usuario, options_for_select([['Usuário', 'user']]))%>
                <% end %>
            </div>
            <%= f.submit "Participar", class: "btn btn-success" %>
        <% end %>
    </div>
</div>