<div class="container w-25">
    <h1>Editar Tarefa</h1>
    <%= form_with model: @task, local: true do |f| %>
        <div class="form-group">
            <%= f.label :titulo, "Titulo" %>
            <%= f.text_field :titulo, placeholder: "Digite o titulo", class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :descricao, "Descrição" %>
            <%= f.text_field :descricao, placeholder: "Digite a descrição", class: "form-control" %>
        </div>
        <%= f.submit "Editar", class: "btn btn-success" %>
    <% end %>
</div>
