<%= render 'users/users-navbar' %>
<div class="container mt-2">
    <div class="row justify-content-center">
        <h1>Tarefas</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th colspan="7">Ações</th>
            </tr>
            <% @tasks.each do |t|%>
                <tr>
                    <td><%= t.id %></td>
                    <td><%= t.titulo %></td>
                    <td class="link"><%= link_to "Exibir", action: "show", id: t %></td>
                    <td class="link"><%= link_to "Editar", edit_task_path(t) %></td>
                    <td class="link"><%= link_to "Comentários", show_comments_path(t) %></td>
                    <% if current_user and current_user.id = t.lider_id  %>
                        <td class="link"><%= link_to "Destruir", t, method: :delete %></td>
                    <% end %>
                    <% if current_user%>
                        <td class="link"><%= link_to "Participar", new_assign_path(t) %></td>
                    <% end %>
                </tr>
            <%end%>
        </table>
        <%= link_to "Nova tarefa", {action: "new"}, class: "btn btn-primary" %>
        <%= link_to "Novo comentário", new_comment_path, class:"btn btn-secondary ml-5" %>
    </div>
</div>