<% if current_user %>
    <h1>Criar Tarefa</h1>
    <%= render 'form-tasks' %>
<% else %>
    <div class="container">
        <h1 class="error">Usuário não autenticado!</h1>
        <div class="row justify-content-center">
            <%= link_to "Voltar", tasks_path, class:"btn btn-secondary mr-5" %>
            <%= link_to "Fazer Login", new_session_path, class: "btn btn-primary" %>
        </div>
    </div>
<% end %>