<%= render 'users/users-navbar' %>
<div class="container w-50 mt-3">
    <% @comments.each do |c|%>
        <ul class="list-group mb-3">
            <li class="list-group-item">Usuário: <%= c.user.nome %></li>
            <li class="list-group-item">Comentário: <%= c.comentario %></li>
        </ul>
        <%= link_to "Destruir", c, method: :delete, class:"btn btn-primary mb-3" %>
        <%= link_to "Editar", edit_comment_path, class:"btn btn-primary mb-3" %>
    <%end%>
</div>