<%= render 'users/users-navbar' %>
<h1><%= @task.titulo %></h1>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">Descricao: <%= @task.descricao %></li>
        <li class="list-group-item">Pontuação: <%= @task.xp_atual.round(2) %></li>
        <li class="list-group-item">Moedas: <%= @task.moedas_atual.round(2) %></li>
        <li class="list-group-item">Prazo: <%= @task.prazo_atual %></li>
    </ul>
    <h2 class="mt-2 mb-2">Participantes</h2>
    <ul class="list-group">
    <% @people_tasks.each do |p|%>
        <% if p.user_id != nil %>
            <li class="list-group-item">Usuário: <%= @users.find(p.user_id).nome %></li>
        <% elsif p.group_id != nil %>
            <li class="list-group-item">Grupo: <%= @groups.find(p.group_id).nome %></li>
        <% end %>
    <% end %>
    </ul>

    <h3 style="float:left">Aumentar XP da Tarefa:</h3>
    <% if @prazo %>
        <%= render 'form-xpbuttons' %>
    <% else %>
        <h3 class="text-danger">Limite de prazo excedido para aumento de XP</h3>
    <% end %>

    <br>

    <h3 style="float:left">Aumentar Prazo da Tarefa:</h3>
        <%= render 'form-timebuttons' %>

    <%= link_to "Início", tasks_path, class: "btn btn-secondary w-100 mb-4 mt-4" %>
</div>