<%= render "users/users-navbar" %>
<div class="container w-25"> 
    <h1>Criar Grupo</h1>
    <%= form_with model: @group, local: true do |f|%>
        <div class="form-group">
            <%= f.label :nome, "Nome" %>
            <%= f.text_field :nome, placeholder: "Digite o nome do grupo",class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :validade, "Validade" %>
            <%= f.date_field :validade, class: "form-control" %>
        </div>
        <%= f.submit "Criar", class: "btn btn-success"%>
    <% end %>
</div>

        