<%= render "users/users-navbar" %>
<div class="container w-25">
    <h1>Editar Grupo</h1>
    <%= form_with model: @group, local: true do |f|%>
        <div class="form-group">
            <%= f.label :nome, "Nome" %>
            <%= f.text_field :nome, placeholder: "Digite o novo nome do grupo", class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :validade, "Validade" %>
            <%= f.date_field :validade, class: "form-control" %>
        </div>
        <%= f.submit "Editar", class: "btn btn-success" %>
    <% end %>
    </div>
</div>