<% if current_user %>
    <% if current_user.member and current_user.member.lider %>
        <%= render 'form-group-edit' %>
    <% else %>
        <h1 class="error">Você não tem permissão para editar este grupo!</h1>
        <div class="buttons">
            <button class="link"><%= link_to "Voltar", groups_path %></button>
        </div>
    <% end %>
<% else %>
    <h1 class="error">Usuário não autenticado!</h1>
    <div class="buttons">
        <button class="link"><%= link_to "Voltar", groups_path %></button>
        <button class="link"><%= link_to "Fazer Login", new_session_path %></button>
    </div>
<% end %>
