<%= render "users/users-navbar" %>
<div class="container">
    <div class="row justify-content-center">
        <h1>Grupos</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Validade</th>
                <th colspan="3">Ações</th>
            </tr>
            <% @groups.each do |u|%>
                <tr>
                    <td><%= u.id %></td>
                    <td><%= u.nome %></td>
                    <td><%= u.validade%></td>
                    <td class="link"><%= link_to "Exibir", action: "show", id: u %></td>
                    <td class="link"><%= link_to "Editar", edit_group_path(u) %></td>
                    <td class="link"><%= link_to "Destruir", u, method: :delete %></td>
                </tr>
            <%end%>
        </table>
        <%= link_to "Novo Grupo", {action: "new"}, class: "btn btn-primary" %>
    </div>
</div>