<% if current_user %>
    <% if !current_user.member ||current_user.member.status == "RECUSADO" %>
        <%= render 'form-group-new' %>
    <% else %>
        <div class="container">
            <h1 class="error">Você já faz parte de um grupo</h1>
            <div class="row justify-content-center">
                <%= link_to "Voltar", groups_path, class: "btn btn-secondary" %>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="container">
        <h1 class="error">Usuário não autenticado!</h1>
        <div class="row justify-content-center">
            <%= link_to "Voltar", groups_path, class:"btn btn-secondary mr-5" %>
            <%= link_to "Fazer Login", new_session_path, class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
        