<div class="container w-25">
    <h1>Adicionar Membro</h1>
    <%= form_with model: @members, url: create_member_path,local: true do |f| %>
        <div class="form-group">
            <%= f.label :user_id, "Usuário"%>
            <%= f.select :user_id, @users, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :lider, "Lider" %>
            <%= f.select(:lider, options_for_select([['SIM'], ['NÃO']])) %>
        </div>
        <%= f.submit "Confirmar", class: "btn btn-success"%>
    <%end%>
</div>

