<%= render 'users/users-navbar' %>
<div class="container">
    <div class="row justify-content-center">
        <h1><%= @group.nome %></h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>MEMBROS</th>
                <th>STATUS</th>
                <th>LIDER</th>
                <% if @member %>
                    <% if @member.lider == "SIM" and @member.group.id == @group.id and @member.status == "ATIVO" %>
                        <th>AÇÃO</th>
                    <% end %>
                <% end %>
            </tr>
            <% @group.members.each do |member| %>
                <tr>
                    <td><%= member.id %></td>
                    <td><%= member.user.nome %></td>
                    <td><%= member.status %></td>
                    <td><%= member.lider %></td>
                    <% if @member %>
                        <% if @member.lider == "SIM" and @member.group.id == @group.id and @member.status == "ATIVO" %>
                            <td class="link"><%= link_to "Excluir", destroy_member_path(member.id), method: :post%></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </table>
        <% if @member %>
            <% if @member.lider == "SIM" and @member.group.id == @group.id %>
                <%= link_to "Adicionar Membro", new_member_path, class: "btn btn-dark"%>
            <% end %>
        <% end%>
        <%= link_to "Início", groups_path, class: "btn btn-dark"%></button>
    </div>
</div>