<div class="container w-25">
  <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <%= f.label :nome, "Nome" %>
        <%= f.text_field :nome, placeholder: "Digite seu nome", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :apelido, "Apelido" %>
        <%= f.text_field :apelido, placeholder: "Digite seu apelido", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email" %>
        <%= f.text_field :email, placeholder: "Digite seu e-mail", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :data_nascimento, "Data de nascimento" %>
        <%= f.date_field :data_nascimento, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :local_nascimento, "Local de nascimento" %>
        <%= f.text_field :local_nascimento, placeholder: "Digite a tua cidade de nascimento", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :genero, "Gênero" %>
        <%= f.select(:genero, options_for_select([['Masculino'], ['Feminino']])) %>
      </div>
      <div class="form-group">
        <%= f.label :user_class_id, "Classe de Jogador" %>
        <%= f.select :user_class_id, @userclass, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :password, "Senha" %>
        <%= f.password_field :password, placeholder: "Digite sua senha", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirme sua Senha" %>
        <%= f.password_field :password_confirmation, placeholder: "Digite novamente sua senha", class: "form-control" %>
      </div>
      
      <%= f.submit "Confirmar", class: "btn btn-success"%>
  <%end%>
</div>

<% @user.errors.full_messages.each do |error| %>
  <p style = "color:red"><%= error %></p>
<% end %>
