<nav class= "navbar navbar-dark bg-dark ">
    <div  class="justify-content-start">
        <%= link_to "Usuários", users_path, class: "btn btn-primary" %>
        <%= link_to "Classes", user_classes_path, class: "nav-item btn btn-primary" %> 
        <%= link_to "Grupos", groups_path, class: "btn btn-primary" %>
        <%= link_to "Tarefas", tasks_path, class: "btn btn-primary" %>
    </div>
    <div  class="justify-content-end">
    <%if current_user %>
        <span style="color:#FFF">Olá, <%= current_user.nome %></span>
        <%= link_to "Logout", :logout,method: :post, class: "btn btn-danger ml-3" %>
    <%else%>
        <%= link_to "Login", new_session_path, class: "btn btn-primary" %>
    <%end%>
    </div>
</nav>
