<% if current_user == @user %>
    <h1>Editar <%= @user.nome %></h1>
    <%= render 'users/form-users' %>
<% else %>
    <div class="container">
        <h1 class="error">Usuário não autenticado!</h1>
        <div class="row justify-content-center">
            <%= link_to "Página inicial", users_path, class:"btn btn-secondary mr-5" %>
            <%= link_to "Fazer Login", new_session_path, class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
