<%= render 'users/users-navbar' %>
<div class="container mt-3">
    <div class="row justify-content-center">
        <h1>Usuários</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Nível</th>
                <th colspan="3">Ações</th>
            </tr>
            <% @users.each do |u|%>
                <tr>
                    <td><%= u.id %></td>
                    <td><%= u.nome %></td>
                    <td><%= u.level %></td>
                    <td class="link"><%= link_to "Exibir", action: "show", id: u %></td>
                    <td class="link"><%= link_to "Destruir", u, method: :delete %></td>
                    <td class="link"><%= link_to "Editar", edit_user_path(u) %></td>
                </tr>
            <%end%>
        </table>
        <%= link_to "Novo usuário", {action: "new"}, class: "btn btn-primary" %>
    </div>
</div>
