<%= render 'users/users-navbar' %>
<h1><%= @user.nome %></h1>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">Nome: <%= @user.nome %></li>
        <li class="list-group-item">Apelido: <%= @user.apelido %></li>
        <li class="list-group-item">E-mail: <%= @user.email %></li>
        <li class="list-group-item">Data de nascimento: <%= @user.data_nascimento %></li>
        <li class="list-group-item">Local de nascimento: <%= @user.local_nascimento %></li>
        <li class="list-group-item">Gênero: <%= @user.genero %></li>
        <li class="list-group-item">Level: <%= @user.level %></li>
        <li class="list-group-item">Classe: <%= @user.user_class.nome %></li>
        <li class="list-group-item">Moedas: <%= @user.qnt_moedas %></li>
        <% if current_user and @user.member and current_user.id == @user.id and (@user.member.status == "PENDENTE") %>
            <li class="list-group-item">Solicitação do Grupo: "<%= @user.member.group.nome %>"
                <%= form_with scope: :member, url: update_member_path(@user.member.id), local: true do |f| %><br>
                    <%= f.button "Aceitar", name: "button", value: "ATIVO", class: "btn btn-success" %>
                    <%= f.button "Recusar", name: "button", value: "RECUSADO", class:"btn btn-danger" %> 
                <% end %>
            </li>              
        <% else %>
            <li class="list-group-item">Grupo: <%= @status%></li>
        <% end %>
        <li class="list-group-item">Criado em: <%= @user.created_at %></li>
        <li class="list-group-item">Atualizado em: <%= @user.updated_at %></li>
    </ul>
    <%= link_to "Início", users_path, class: "btn btn-dark w-100 mb-4 mt-4" %>
</div>
