<h1>Editar Habilidade</h1>
<div class = "container w-50">
  <%= form_with model: @skill, local: true do |s| %>
      <div class="form-group">
        <%= s.label :nome, "Nome" %>
        <%= s.text_field :nome, placeholder: "Digite o nome da habilidade", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= s.label :dano, "Dano" %>
        <%= s.text_field :dano, placeholder: "Digite a quantidade de dano de ataque", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= s.label :defesa, "Defesa" %>
        <%= s.text_field :defesa, placeholder: "Digite o poder de defesa", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= s.label :nivel_maximo, "Nivel máximo" %>
        <%= s.text_field :nivel_maximo, placeholder: "Digite o nível máximo", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= s.label :nivel_requerido, "Nível requerido" %>
        <%= s.text_field :nivel_requerido, placeholder: "Digite o nível requerido", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= s.label :multiplicador_dano, "Multiplicador de dano" %>
        <%= s.text_field :multiplicador_dano, placeholder: "Digite quanto será o multiplicador de dano", class: "form-control"%>
      </div>
      <div class="form-group">
      <%= s.label :multiplicador_defesa, "Multiplicador de defesa" %>
      <%= s.text_field :multiplicador_defesa, placeholder: "Digite quanto será o multiplicador de defesa", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= s.label :niveis_upar, "Níveis necessários" %>
        <%= s.text_field :niveis_upar, placeholder: "Digite quantos níveis serão necessários para upar a skill", class: "form-control" %>
      </div>
      <%= s.submit "Confirmar", class: "btn btn-success"%>
  <%end%>
</div>