<div class="container w-25">
  <%= form_with model: @userclass, local: true do |f| %>
    <div class="form-group">
      <%= f.label :nome, "Nome"%>
      <%= f.text_field :nome, class: "form-control" %>
    </div>
    <%= f.submit "Confirmar", class: "btn btn-success"%>
  <%end%>

  <% @userclass.errors.full_messages.each do |error| %>
    <p style = "color:red"><%= error %></p>
  <% end %>
</div>