<%= render 'users/users-navbar'%>
<div class="p-3">
    <div class="row justify-content-center">
        <h1>Classes</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th colspan="3">Ações</th>
            </tr>
            <% @userclass.each do |u|%>
                <tr>
                    <td><%= u.id %></td>
                    <td><%= u.nome %></td>
                    <td class="link"><%= link_to "Exibir", action: "show", id: u %></td>
                    <td class="link"><%= link_to "Editar", edit_user_class_path(u) %></td>
                </tr>
            <%end%>
        </table>
        <%= link_to "Nova classe", {action: "new"}, class: "btn btn-primary" %>
    </div>
</div>
<br>
<div class="p-3">
    <div class="row justify-content-center">
        <h1>Habilidades</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th colspan="3">Ações</th>
            </tr>
            <% @skill.each do |s|%>
                <tr>
                    <td><%= s.id %></td>
                    <td><%= s.nome %></td>
                    <td class="link"><%= link_to "Editar", edit_skill_path(s) %></td>
                    <td class="link"><%= link_to "Excluir", s, method: :delete %></td>
                </tr>
            <%end%>
        </table>
        <%= link_to "Nova Habilidade", new_skill_path, class: "btn btn-primary" %>
    </div>
</div>