<div class="container w-25">
    <h1>Criar Subclasse</h1>
    <%= form_with model: @usersubclass, url: create_subclass_path,local: true do |f| %>
        <div class="form-group">
            <%= f.label :nome, "Nome"%>
            <%= f.text_field :nome, placeholder: "Digite o nome da Subclasse", class: "form-control" %>
        </div>
        <%= f.submit "Confirmar", class: "btn btn-success"%>
    <%end%>
</div>
