<%= render 'users/users-navbar'%>
<div class="container mt-3">
    <div class="row justify-content-center">
    <h1><%= @userclass.nome %></h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Subclasses</th>
                <th colspan="3">Ações</th>
            </tr>
            <% @userclass.user_subclasses.each do |u|%>
                <tr>
                    <td><%= u.id %></td>
                    <td><%= u.nome %></td>
                    <td class="link"><%= link_to "Editar", edit_subclass_path(u) %></td>
                </tr>
            <%end%>
        </table>
        <button class="btn btn-primary"><%= link_to "Nova Subclasse",  new_subclass_path(@userclass) %></button>
        <button class="btn btn-dark ml-5"><%= link_to "Início", user_classes_path %></button>
    </div>
</div>



