/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

.error {
    color: rgb(226, 14, 14);
    font-weight: bolder;
    padding: 10px;
}
.userData {
    min-width: 40vw;
    text-align: center;
    margin: 7px auto;
    border-collapse: collapse;
}

.userData td {
    border: 1px solid #000;
    padding: 10px;
}

.userData th {
    font-weight: bold;
}
.buttons {
    text-align: center;
}
.link a:link, .link a:visited{
    text-decoration: none;
}
button.link {
    background-color: #232323;
    padding: 10px;
    border: none;
    color: white;
}
td.link a{
    color: rgb(45, 111, 233);
}
button.link * {
    color: white;
}
.form {
    margin: 5px auto;
}
.form * {
    margin: 0.2em auto;
}
.btn a {
    text-decoration: none;
    color: #FFF;
}
h1, h3 {
    text-align: center;
}
.list-group-item {
    transition: all ease 0.3s;
    background-color: #f8f9fa;
    color: #343a40;
}
.list-group-item:hover {
    color: #f8f9fa;
    background-color: #343a40;
}
.link {
    color: #007bff;
}